:root {
  --theme-primary-bg-color: #282c34;

  &[theme="default"] {
    &[variant="light"] {
      --theme-primary-bg-color: #{lighten(#282c34, 20%)};
    }

    &[variant="dark"] {
      --theme-primary-bg-color: #282c34;
    }
  }

  &[theme="custom"] {
    &[variant="light"] {
      --theme-primary-bg-color: #546e7a;
    }

    &[variant="dark"] {
      --theme-primary-bg-color: #29434e;
    }
  }
}
